* {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    background-image: linear-gradient(
      to right,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/* Q：为什么把背景扩大了，盒子没被撑大 */
/* A：使用的是 background-image，所以 应该和 img标签类似，图片超过盒子 会隐藏，而不是会去撑大盒子 */

a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}