* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-weight: 300;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #222;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  box-shadow: 1rem 0 1rem rgba($color: #000000, $alpha: 0.5);
}

.layer.layer1 {
  background-color: #03a9f4;
  transform: skewX(-45deg) translateX(0);
  z-index: 1;
}

.layer.layer2 {
  background-color: #fff;
  transform: skewX(-45deg) translateX(-100px);
  z-index: 3;
}

.layer.layer3 {
  background-color: #ff3161;
  transform: skewX(-45deg) translateX(-200px);
  z-index: 5;
}

.layer.layer4 {
  background-color: #222;
  transform: skewX(-45deg) translateX(-300px);
  z-index: 7;
}

.layer.layer5 {
  background-color: #ff3161;
  transform: skewX(45deg) translateX(-150px);
  z-index: 6;
}


.layer.layer6 {
  background-color: #fff;
  transform: skewX(45deg) translateX(-50px);
  z-index: 4;
}

.layer.layer7 {
  background-color: #03a9f4;
  transform: skewX(45deg) translateX(50px);
  z-index: 2;
}

.layer.layer8 {
  background-color: #222;
  transform: skewX(45deg) translateX(-250px);
  z-index: 6;
}

