* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #000 0, #000 50%, #fff 50%);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 50px;
  mix-blend-mode: difference;
  color: #fff;
  animation: lr 1s ease-in-out infinite;
}

@keyframes lr {
  0%, 100% {
    transform: translateX(0);
  }
  37% {
    transform: translateX(-100px);
  }
  73% {
    transform: translateX(100px);
  }
}