* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1dd8a;
}
.shell {
  width: 70%;
  padding: 50px;
  overflow: hidden;
}
.shell h2 {
  color: #7b96f1;
  font-size: 90px;
  margin-left: 400px;
  font: 500 80px "Helvetica";
}
.shell p {
  color: #626262;
  font-size: 22px;
  text-align: justify;
}
.shell .left {
  height: 500px;
  float: left;
  shape-margin: 20px;
  shape-outside: url(img/img.png);
}
.shell .right {
  height: 500px;
  float: right;
  shape-outside: url(img/img2.png);
  margin: 240px -80px 0 0;
}
